---
metaTitle: Paul Applegate
metaDesc: Husband, Photographer in Ohio.
---
{% extends 'layouts/page.njk' %}
{% from "post-list.njk" import postList %}

{% block leftContent %}
  <p class="PageDescription">I’m Paul Applegate. I work as <em>Photographer</em> </p>
  {% include "./components/socials.njk" %}
{% endblock leftContent %}

{% block rightContent %}
  {{ postList(collections.posts) }}
{% endblock rightContent %}
